        body{
           background-image: -webkit-linear-gradient(white);
            font-family: roboto;
            text-align: center;
        }

        .container{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        .first,.second{
            width: 1px;
        }
        .second{
            height: 700px;
            width: 400px;
            background-image: url(/1700129558567.jpg);
            background-size: cover;
            border-radius: 15px;
            box-shadow: 0px 0px 10px black;
        }

        .firstlink{
            text-decoration: none;
            color: black;
            font-size: 17px;
        }
        .secondlink{
            text-decoration: none;
            color: red;
            font-size: 17px;
        }
        .main{
            height: 900px;
            width:100%;
            color: black;
        }
        .logo{
            display: inline-block;
            font-size: 35px;
            font-weight:900;       
        }

        .wording{
            font-size: 15px;
            display: block;
            text-align: center;
            line-height: 20px;
            font-weight: bold;
        }
        .buttons{
            margin-top: 50px;

        }
        .btn1,.btn2{
            margin-top: 10px;
            font-size: 15px;
            color: white;
            background-color: red;
            border-radius: 10px;
            border-width: 0.5px;
            box-shadow: 0px 0px 10px red;
            padding: 10px 52px;
            font-family: roboto;
            font-weight: 600;
            border-color: red;
            transition: all 0.2s;
        }

        .btn1:hover{
            color: black;
        }

        .btn2:hover{
            color: red;
        }

        .btn2{
            margin-top: 15px;
            color: black;
            background-color: white;
            padding: 10px 50px;
            border-color: red;
        }
        .image{
            padding-top: 60px;
            display: block;
            width: 100px;
            height: 100px;
            background-color: transparent;
            padding-left: 135px;
    }